.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1 rem 2rem;
}
.nav-title{
    color: #fff;
    font-size: 150%;
    font-weight: bold;
    margin-left: 50px;
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 50px;
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 115%;
    transition: color 0.3s ease;
}
.nav-links a:hover{
    color: #015b20;
}
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  margin-right: 30px;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
    color: #fff;
    margin-right: 30px;
  }
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%; /* Hide off-screen to the right */
    width: 250px;
    height: 100vh;
    background-color: #222;
    flex-direction: column;
    padding-top: 60px;
    transition: right 0.3s ease; /* Smooth slide animation */
  }

  .nav-links.active {
    right: 0; /* Slide into view */
  }
}




.page-links{
    width: 100%;
    text-decoration: none;   
    color: inherit;          
    display: block;          
}
.unit{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
}
.unit-title{
    font-weight: bold;
    margin-bottom: 2%;
    text-align: center;
    text-decoration: underline;
    font-size: 150%;
}
.image{
    width: 100%;
    aspect-ratio: 3/2;
    border: 5px solid #000000;
    border-radius: 5%;
}
h1{
    text-align: center;
    margin-top: 3.5%;
    color: #333;
    text-decoration: underline;
}
#grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5%;
}
@media screen and (max-width: 768px) {
  #grid {
    grid-template-columns: 1fr;
  }
}