.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1% 2%;
}
.nav-title{
    color: #fff;
    font-size: 150%;
    font-weight: bold;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li{
    margin-left: 20px;
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 115%;
    transition: color 0.3s ease;
}
.nav-links a:hover{
    color: #015b20;
}




.page-links{
    width: 100%;
    text-decoration: none;   
    color: inherit;          
    display: block;          
}
.unit{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
}
.unit-title{
    font-weight: bold;
    margin-bottom: 2%;
    text-align: center;
    text-decoration: underline;
    font-size: 150%;
}
.image{
    width: 100%;
    aspect-ratio: 3/2;
    border: 5px solid #000000;
    border-radius: 5%;
}
h1{
    text-align: center;
    margin-top: 3.5%;
    color: #333;
    text-decoration: underline;
}
#grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5%;
}